<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <title>Document</title>
</head>
<body class="form_pages">
    <header class="header">
        <img class="logo" width="200px" src="{{url_for('static', filename='Membakery Logo.png')}}"> 
        <nav class="nav_bar">
            <a href="/"><li>Home</li></a>
            <a href="/allMemesPlace"><li>Bakery</li></a>
            <a><li>About</li></a>
        </nav>
        <a href="/login"><button class="login_button">Log in</button></a>
    </header>
    <img class="form-bg" src="{{url_for('static', filename='sign_in_bg.jpg')}}">
    <div class="input_fields_container">

        <form method="POST" enctype="multipart/form-data" action="/memeKitchen">
            <input type="file" name="image" accept="image/*"><br><br>
            <label for="description">Description</label>
            <textarea type="text" name="description"></textarea><br><br>
            <button type="submit">Upload</button>

        </form>
    </div>
</body>
</html>